#player-body-wrapper{
    display: inline-block;
    text-align: center;
    width: 50%;
}
#player-body-table {
    display:table;
    border-collapse:collapse;
    border: 1px solid white;
    font-size:14px;
    width: 100%;
    align-items: center;
    justify-content: center;

}
         
#player-content-body {
    display:table-row;
    text-align: center;
}
         
#player-labels-column, #player-data-column,#player-labels-column-hd,#player-data-column-hd {
    display:table-cell;
   /* border: 1px solid white; */
}

#player-labels-column-hd, #player-data-column-hd {
    font-weight: bold;
    color: #75fa83;
    text-align: center;
}

#player-labels-column-hd {

    text-align: right;
    padding-right: 3px;
}
         
#player-data-column-hd {
    padding: 3px 3px 3px 3px;
    width:33%;
    text-align: center;
}

#player-labels-column {
    width:34%;
    text-align: right;
    padding-right: 3px;
}
         
#player-data-column {
    padding: 3px 3px 3px 3px;
    width:50%;
    text-align: center;
}

#rowspan {
    padding: 3px 3px 3px 3px;
    width:100%;
    border: 1px white solid;
    text-align: center;
}

